{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Profile Page
{% endblock  %}


{% block body_block %}
<h2>Your Profile</h2>
{% if user.user_profile %}
<img src="/media/{{user.user_profile.profile_pic}}" style="width:200px" class="rounded-circle">
<br><br>
<a href="{% url 'App_Login:change_profile_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{% else %}
<img src="/media/download.png" style="width:200px" class="rounded-circle">
<br>
<a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{% endif %}




<p>Username : {{ user.username }}</p>
<p>Email : {{ user.email }}</p>
<p>Name : {{ user.first_name }} {{ user.last_name }}</p>

<br><br>

<a href="{% url "App_Login:user_change" %}" class="btn btn-warning btn-sm">Change</a>

{% endblock  %}